﻿@{
    ViewData["Title"] = "Home Page";
}
<style>
    .angular-google-map-container {
        margin-top: 20px;
        height: 400px;
    }
</style>
<div ng-app="QuakesApp" ng-controller="HomeCtrl">
    <ui-gmap-google-map bounds="map.bounds" center='map.center' zoom='map.zoom'>
        <ui-gmap-markers 
            models="quakes"
            coords="'self'" 
            icon="'icon'"/>
        <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
            <div>
               <p ng-non-bindable>Earthquake at {{ latitude | number:4 }}, {{ longitude | number:4 }}!<br/>On: {{date}}<br/>{{title}}</p>
            </div>
        </ui-gmap-windows>
    </ui-gmap-google-map>

    <div class="alert-info" ng-cloak>
        NE: {{ map.bounds.northeast.latitude | number:4 }},{{ map.bounds.northeast.longitude | number:4 }},
        SW: {{ map.bounds.southwest.latitude | number:4 }},{{ map.bounds.southwest.longitude | number:4 }},
        CENTER: {{ map.center.latitude | number: 4 }}, {{ map.center.longitude | number:4 }},
        ZOOM: {{ map.zoom }}
    </div>
    <div ng-cloak class="alert alert-danger" style="margin-top:10px" ng-show="error">{{error}}</div>
    <div ng-cloak class="alert alert-info" style="margin-top:10px" ng-show="msg.show">
        <span style="font-weight: 300">{{msg.title}}</span>
        {{msg.message}}
    </div>
</div>